In [4]:
import pandas  as pd
import numpy as np

In [5]:
married=pd.read_csv('/Users/macbook/Desktop/BA6/Database/newfiles/married.csv', sep=',', error_bad_lines=False)
len(married)
married

,name,pid,sid,from,to,children,status
0,Jacklyn Zeman,30,40876,1979.0,1981.0,NaN,divorced
1,Angela Arabo,47,5002,NaN,NaN,NaN,NaN
2,Rosamond Broughton,103,83183,1938.0,1995.0,6 children,his death
3,Linda,143,57765,NaN,2005.0,NaN,his death
4,Almina Wombwell,215,3565,1895.0,1923.0,2 children,his death
5,Ottilie Losch,230,74510,1939.0,1947.0,NaN,divorced
6,Anne Wendell,230,6424,1922.0,1936.0,2 children,divorced
7,Jean Wallop,237,43561,1956.0,2001.0,3 children,his death
8,Fiona Aitken,247,30327,1998.0,NaN,1 child,NaN
9,Jayne Wilby,247,43254,1989.0,1998.0,2 children,divorced
10,Dr. Lao Sealey,321,24598,2005.0,NaN,NaN,NaN
11,Krishnaveni Jikki,329,54287,NaN,NaN,NaN,NaN
12,Maurice Jose de Leon,387,67011,1961.0,1964.0,NaN,divorced
13,Joseph E. McDonald,387,48511,1967.0,1969.0,NaN,divorced
14,Ronald Fisher,387,82936,1970.0,2010.0,1 child,her death
15,William Benegal Rau,389,97546,1960.0,NaN,NaN,NaN
16,Herbert Aadland,389,37982,NaN,NaN,1 child,divorced
17,?,389,739,NaN,NaN,1 child,divorced
18,Sharon Ann Hamilton,449,86735,1969.0,1971.0,NaN,divorced
19,Ernie Fliegel,480,28820,NaN,NaN,1 child,NaN
20,R. Kelly,495,78670,1994.0,1995.0,NaN,annulled
21,Raili Aaltio,2148906,79001,NaN,NaN,2 children,NaN
22,Aino Aalto,503,1754,1924.0,1949.0,2 children,her death
23,Elissa Aalto,503,26649,1952.0,1976.0,NaN,his death
24,Antti V.J. Aalto,515,7109,NaN,NaN,2 children,divorced
25,Inkeri Hupli,548,39553,NaN,NaN,3 children,NaN
26,Marja Liuhto,548,64133,1941.0,1949.0,NaN,divorced
27,Heidi Elisabet Ã–hman,589,36982,1964.0,1977.0,2 children,her death
28,Hanni Marjatta Tiensuu,589,36010,1978.0,1990.0,2 children,divorced
29,Sisko Hallavainio,589,88149,2002.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
101599,Ali Ã–zgentÃ¼rk,2148839,2931,NaN,NaN,NaN,NaN
101600,Buket Dereoglu,2006200,12768,2004.0,NaN,1 child,NaN
101601,Tahsin Ã–zgÃ¼r,2498246,91233,NaN,NaN,NaN,NaN
101602,Lale Ã–zgÃ¼r,2498248,54912,NaN,NaN,NaN,NaN
101603,Hale Soygazi,2006210,35820,NaN,NaN,NaN,divorced
101604,Serdar,2006215,86332,1991.0,NaN,NaN,divorced
101605,Aydin Tezel,2006220,8234,NaN,2000.0,2 children,her death
101606,Thomas Bellut,2006228,92556,NaN,NaN,2 children,NaN
101607,Olgun Arun,2006254,74097,1998.0,NaN,NaN,NaN
101608,Suna Selen,2006255,89932,NaN,NaN,NaN,divorced
101609,GÃ¼zin Ozyagcilar,2006357,35715,NaN,NaN,NaN,NaN
101610,Dorrit Willumsen,2006445,24281,NaN,NaN,NaN,NaN
101611,Lisbet Lundquist,2006522,58299,1993.0,NaN,NaN,NaN
101612,Marianne WesÃ©n,2006529,63181,NaN,NaN,NaN,NaN
101613,Birgitte Federspiel,2006529,11097,NaN,NaN,NaN,NaN
101614,Annie Chanvallon,2006631,6654,NaN,NaN,1 child,divorced
101615,Victoria Hidalgo,2006631,95782,NaN,2003.0,NaN,his death
101616,Katja Ebstein,2006637,52445,1979.0,2008.0,NaN,his death
101617,Gazanfer Ã–zcan,2006656,32582,1962.0,2009.0,1 child,his death
101618,Emre Kinay,2006665,28109,2003.0,2009.0,1 child,divorced
101619,TÃ¼rkan Soray,2006670,94570,1983.0,1987.0,1 child,divorced
101620,Sabis Kuzuoglu,2006670,84471,1970.0,1978.0,1 child,divorced
101621,Taj Valdespino,2006674,91247,NaN,NaN,NaN,divorced
101622,Cem Candas,2006715,15176,2004.0,2006.0,NaN,divorced
101623,Zuhal ÃœstÃ¼ntas,2006752,99341,NaN,1953.0,NaN,his death
101624,Cenk Er,2006754,15183,NaN,NaN,NaN,NaN
101625,Ali ÃœstÃ¼ntas,2006754,2932,NaN,1953.0,NaN,his death
101626,Ebru ÃœzÃ¼mcÃ¼,2006761,25015,1997.0,NaN,2 children,NaN
101627,Arnar JÃ³nsson,2148872,7438,NaN,NaN,1 child,NaN
101628,StefÃ¡n Karl StefÃ¡nsson,2006816,88920,NaN,NaN,2 children,NaN

In [1]:
married['from']=married['name'].str.extract("(\d{4}) \-", expand=True)
married['to']=married['name'].str.extract("(\d{4})\)",expand=True)
married['children']=married['name'].str.extract("\;(.*)",expand=True)
married['status']=married['name'].str.extract("\) \((.*)\)",expand=True)
married['name']=married['name'].str.extract("\'(.*)\'",expand=True)

NameError: name 'married' is not defined

In [62]:
married

       name      pid    sid from   to children status
0       NaN       30  40876  NaN  NaN      NaN    NaN
1       NaN       47   5002  NaN  NaN      NaN    NaN
2       NaN      103  83183  NaN  NaN      NaN    NaN
3       NaN      143  57765  NaN  NaN      NaN    NaN
4       NaN      215   3565  NaN  NaN      NaN    NaN
5       NaN      230  74510  NaN  NaN      NaN    NaN
6       NaN      230   6424  NaN  NaN      NaN    NaN
7       NaN      237  43561  NaN  NaN      NaN    NaN
8       NaN      247  30327  NaN  NaN      NaN    NaN
9       NaN      247  43254  NaN  NaN      NaN    NaN
10      NaN      321  24598  NaN  NaN      NaN    NaN
11      NaN      329  54287  NaN  NaN      NaN    NaN
12      NaN      387  67011  NaN  NaN      NaN    NaN
13      NaN      387  48511  NaN  NaN      NaN    NaN
14      NaN      387  82936  NaN  NaN      NaN    NaN
15      NaN      389  97546  NaN  NaN      NaN    NaN
16      NaN      389  37982  NaN  NaN      NaN    NaN
17      NaN      389    739  NaN  NaN      NaN    NaN
18      NaN      449  86735  NaN  NaN      NaN    NaN
19      NaN      480  28820  NaN  NaN      NaN    NaN
20      NaN      495  78670  NaN  NaN      NaN    NaN
21      NaN  2148906  79001  NaN  NaN      NaN    NaN
22      NaN      503   1754  NaN  NaN      NaN    NaN
23      NaN      503  26649  NaN  NaN      NaN    NaN
24      NaN      515   7109  NaN  NaN      NaN    NaN
25      NaN      548  39553  NaN  NaN      NaN    NaN
26      NaN      548  64133  NaN  NaN      NaN    NaN
27      NaN      589  36982  NaN  NaN      NaN    NaN
28      NaN      589  36010  NaN  NaN      NaN    NaN
29      NaN      589  88149  NaN  NaN      NaN    NaN
...     ...      ...    ...  ...  ...      ...    ...
101599  NaN  2148839   2931  NaN  NaN      NaN    NaN
101600  NaN  2006200  12768  NaN  NaN      NaN    NaN
101601  NaN  2498246  91233  NaN  NaN      NaN    NaN
101602  NaN  2498248  54912  NaN  NaN      NaN    NaN
101603  NaN  2006210  35820  NaN  NaN      NaN    NaN
101604  NaN  2006215  86332  NaN  NaN      NaN    NaN
101605  NaN  2006220   8234  NaN  NaN      NaN    NaN
101606  NaN  2006228  92556  NaN  NaN      NaN    NaN
101607  NaN  2006254  74097  NaN  NaN      NaN    NaN
101608  NaN  2006255  89932  NaN  NaN      NaN    NaN
101609  NaN  2006357  35715  NaN  NaN      NaN    NaN
101610  NaN  2006445  24281  NaN  NaN      NaN    NaN
101611  NaN  2006522  58299  NaN  NaN      NaN    NaN
101612  NaN  2006529  63181  NaN  NaN      NaN    NaN
101613  NaN  2006529  11097  NaN  NaN      NaN    NaN
101614  NaN  2006631   6654  NaN  NaN      NaN    NaN
101615  NaN  2006631  95782  NaN  NaN      NaN    NaN
101616  NaN  2006637  52445  NaN  NaN      NaN    NaN
101617  NaN  2006656  32582  NaN  NaN      NaN    NaN
101618  NaN  2006665  28109  NaN  NaN      NaN    NaN
101619  NaN  2006670  94570  NaN  NaN      NaN    NaN
101620  NaN  2006670  84471  NaN  NaN      NaN    NaN
101621  NaN  2006674  91247  NaN  NaN      NaN    NaN
101622  NaN  2006715  15176  NaN  NaN      NaN    NaN
101623  NaN  2006752  99341  NaN  NaN      NaN    NaN
101624  NaN  2006754  15183  NaN  NaN      NaN    NaN
101625  NaN  2006754   2932  NaN  NaN      NaN    NaN
101626  NaN  2006761  25015  NaN  NaN      NaN    NaN
101627  NaN  2148872   7438  NaN  NaN      NaN    NaN
101628  NaN  2006816  88920  NaN  NaN      NaN    NaN

[101629 rows x 7 columns]

In [54]:
married.to_csv('married.csv', sep=',', encoding='utf-8', index=False)